h2 {
  color: black;
  font-size: 2rem;
  line-height: 2.2rem;
  margin: 8px 0 6px 0;
  /* border: 1px solid black; */

}

#experience {
  background-color: #DAA06D;
}

.job {
  display: flex;
  flex-direction: row;

  align-items: stretch;
  justify-content: center;
  gap: 40px;
  padding: 0 30px 20px 30px;
  /* border: 1px solid black; */

}

/* .job>* {
  border: 1px solid black;
} */

.section {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  padding-bottom: 10px;
}






.job-text .header {
  display: flex;
  flex-direction: column;
  gap: 0px;
  /* Adds spacing between rows */
}

.job-text .title-and-date {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* Aligns title and date vertically at the top */
}

.job-text .header * {
  /* border: 1px solid black; */
  margin: 0;
}

.job-text .company-and-location {
  display: flex;
  justify-content: space-between;
  font-style: italic;
}



.job-text .date,
.job-text .location {
  text-align: right;
}

.job-text .company,
.job-text .location {
  font-style: italic;
}

.job-text {
  text-align: left;
  color: black;
  max-width: 500px;
  flex: 1;
}

.MultiTimeSeriesEditor-container {
  max-width: none;
  min-width: none;
  width: 100%;
  flex: 1;
  position: relative;
}

@media screen and (max-width: 1180px) {
  .job {
    flex-direction: column;
    align-items: center;
    padding: 0 5px 5px 5px;
    gap: 10px;
  }

  .job-text {
    min-width: none;
    max-width: 800px;
  }

  .MultiTimeSeriesEditor-container {
    max-width: 800px;
    min-height: 500px;
  }
}