/* Hero Section */
.hero-section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50vh;
  /* Full viewport height */
  /* background: linear-gradient(to right, #ffffff, #e9ecef); */
  background: #e0e0e0;
  /* Subtle background gradient */
  color: #333;
  /* Text color */
  font-family: "Poppins", sans-serif;
}

/* Hero Content */
.hero-content {
  display: flex;
  align-items: center;
  text-align: left;
  max-width: 900px;
  width: 100%;
  padding: 20px;
  gap: 50px;
}

/* Text Section */
.hero-text {
  flex: 1;
}

.hero-text h1 {
  font-size: 3rem;
  margin: 0 0 20px;
  line-height: 1.2;
}

.hero-text h1 span {
  color: #007bff;
  /* Accent color for title */
}

.hero-resume-link {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: bold;
  color: black;
  /* background-color: white; */
  background: #e0e0e0;
  box-shadow:
    -5px -5px 9px rgba(255, 255, 255, 0.87),
    5px 5px 9px rgba(0, 0, 0, 0.3);

  /* box-shadow: inset 0 -5px 5px 0 rgb(0, 0, 0, 0.13), inset 0 5px 5px 0 rgb(255, 255, 255, 1), inset 23px -33px 28px 0 rgb(255, 255, 255, 0.9), inset -25px 28px 23px 0 rgb(0, 0, 0, 0.1), 0 -15px 18px 0 rgb(255, 255, 255, 1), 0 25px 41px 0 rgb(0, 0, 0, 0.16); */

  border-radius: 5px;
  text-decoration: none;
  transition: all 0.3s ease;
}

.hero-resume-link:hover {
  font-size: 1.1rem;
  border-radius: 14px;
}

.hero-resume-link:active {
  /* background-color: #0056b3; */
  /* Same as original, just inset */
  box-shadow: inset -5px -5px 9px rgba(255, 255, 255, 0.45), inset 5px 5px 9px rgba(94, 104, 121, 0.3);
}

/* Image Section */
.hero-image {
  /* flex: 1; */
  display: flex;
  justify-content: center;
}

.hero-image img {
  max-width: 300px;
  /* Limit image size */
  width: 100%;
  border-radius: 15%;
  /* Accent border */
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
}