/* Hero Section */
.hero-section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: max(50vh, 462px);
  /* height: 100%; */
  background: var(--background-color);

  /* Subtle background gradient */
  color: var(--text-color);
  /* Text color */
  font-family: "Poppins", sans-serif;
}




/* Hero Content */
.hero-content {
  display: flex;
  align-items: center;
  text-align: left;

  width: 100%;
  padding: 80px;
}

/* Text Section */
.hero-text {
  flex: 1;
}

.hero-text h1 {
  font-size: 3rem;
  margin: 0 0 20px;
  line-height: 1.2;
  padding-right: 0;
}

.hero-text p {
  font-size: 1rem;
  margin: 0;
  line-height: 1.2;
}

.hero-text h1 span {
  color: hsl(28, 60%, 60%);
  /* filter: url(#grainy); */
  /* background: black; */
}



.hero-resume-link {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: bold;
  color: var(--text-color);

  /* dark mode */
  box-shadow: -5px -5px 9px rgba(255, 255, 255, 0.178), 5px 5px 9px rgba(0, 0, 0, 0.3);

  /* light mode */
  /* box-shadow: -5px -5px 9px rgba(255, 255, 255, 0.87), 5px 5px 9px rgba(0, 0, 0, 0.3); */

  box-shadow: var(--neumorphic-shadow);


  /* box-shadow: inset 0 -5px 5px 0 rgb(0, 0, 0, 0.13), inset 0 5px 5px 0 rgb(255, 255, 255, 1), inset 23px -33px 28px 0 rgb(255, 255, 255, 0.9), inset -25px 28px 23px 0 rgb(0, 0, 0, 0.1), 0 -15px 18px 0 rgb(255, 255, 255, 1), 0 25px 41px 0 rgb(0, 0, 0, 0.16); */

  border-radius: 5px;
  text-decoration: none;
  transition: all 0.3s ease;
}

.hero-resume-link:hover {
  font-size: 1.1rem;
  border-radius: 14px;
}

.hero-resume-link:active {
  /* dark mode */
  /* box-shadow: inset -5px -5px 9px rgba(255, 255, 255, 0.178), inset 5px 5px 9px rgba(0, 0, 0, 0.3); */

  /* light mode */
  /* box-shadow: inset -5px -5px 9px rgba(255, 255, 255, 0.45), inset 5px 5px 9px rgba(94, 104, 121, 0.3); */
  box-shadow: var(--inset-neumorphic-shadow);
}

/* Image Section */
.hero-image {
  /* flex: 1; */
  display: flex;
  justify-content: right;
}




.hero-image img {

  /* Limit image size */
  width: 100%;
  border-radius: 15%;
  /* Accent border */
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
}

.toggle-button {
  position: absolute;
  top: 25px;
  right: 25px;
  cursor: pointer;
  background: transparent;
  color: var(--text-color);
  font-family: 'Poppins', sans-serif;
  box-shadow: var(--neumorphic-shadow);
  border: none;
  border-radius: 5px;
}


.hero-section {
  height: max(70vh, 462px);
}

.hero-text {
  text-wrap: nowrap;
}

.hero-content {
  max-width: 1200px;
}

.hero-image img {
  max-width: 80%;
  max-height: max(46vh, 450px);
}

@media (max-width: 1080px) {
  .hero-content {
    padding: 40px;
  }
}

@media (max-width: 965px) {
  .hero-content {
    padding: 20px;
  }
}

@media (max-width: 936px) {
  .hero-image img {
    max-width: 90%;
  }
}


@media (max-width: 876px) {
  .hero-image {
    display: none;
  }

  .hero-section {
    height: max(60vh, 462px);
  }
}

@media (max-width: 557px) {

  .hero-text h1 {
    font-size: 2rem;
    margin: 0 0 10px;
  }
}

@media (max-width: 383px) {

  .hero-text h1 {
    font-size: 1.7rem;
  }

  .hero-text p {
    font-size: 0.8rem;
  }

  .hero-resume-link {
    font-size: 0.8rem;
  }
}

@media (max-width: 329px) {

  .hero-text h1 {
    font-size: 1.5rem;
  }

  .hero-text p {
    font-size: 0.75rem;
  }

  .hero-resume-link {
    font-size: 0.8rem;
  }
}