.nav-button {
  display: inline-block;
  padding: 10px 20px;
  background: white;
  /* background: #6e6e6e; */
  border-radius: 50px;
  text-decoration: none;
  font-weight: bold;
  transition: transform 0.3s ease;
}

header {
  display: block;
  padding: 20px;
  margin: 0;
  position: sticky;
  top: 0;
  z-index: 1000;
  background: white;
  /* background: linear-gradient(135deg, #3d3d3d, #5a5a5a, #7a7a7a); */
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
}

header,
header * {
  color: black;
  /* color: white; */
}

@media (max-width: 556px) {
  header {
    display: none;
  }
}