.nav-button {
  display: inline-block;
  padding: 10px 20px;
  background: white;
  background: var(--neurmorphic-right-color);
  border-radius: 50px;
  text-decoration: none;
  font-weight: bold;
  transition: transform 0.3s ease;
}

header {
  display: block;
  padding: 20px;
  margin: 0;
  position: sticky;
  top: 0;
  z-index: 1000;
  /* background: rgb(238, 238, 238);
  background: linear-gradient(135deg, #a33b3b, #5a5a5a, #7a7a7a); */
  background: var(--background-color);
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
}

header,
header * {
  color: black;
  color: var(--text-color);
}

@media (max-width: 660px) {
  header {
    display: none;
  }
}